 
 {% extends "entries/base.html" %} 
 {% block content %} {% endblock %}
 
 <!-- Blog Entries Column -->
      <div class="col-md-8">

        <h1 class="my-4">Page Heading
          <small>Secondary Text</small>
        </h1>
{% for entry in youthvoice_entries %}
        <!-- Blog Post -->
        <div class="card mb-4">
          <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
          <div class="card-body">
            <h2 class="card-title">{{ entry.entry.title }}</h2>
            <p class="card-text">{{ entry.entry.text }}</p>
            <a href="#" class="btn btn-primary">Read More &rarr;</a>
          </div>
          <div class="card-footer text-muted">
            Posted on {{ entry.entry.date }} by
            <a href="#">{{ entry.entry.author }}</a>
          </div>
        </div>
        {%  endfor %}


        